
.App {
  text-align: center;
}

.MemoryGame {
  height: 100vh;
  width: 100vw;
}

.MemoryBoard {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

#buttonSubmit {
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  color: white;
  background: #2196F3;
  font-size: 150%;
}

#buttonSubmit:hover {
  cursor: pointer;
}

/*David Walsh CSS Flipping*/
/*https://davidwalsh.name/css-flip*/
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  padding: 10px;
  display: block;
}

.flip-container, .front, .back {
  width: 160px;
  height: 160px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.cardBack {
  max-width: 100%;
  height: auto;
}

.cardFront {
  max-width: 100%;
  height: auto;
}

/*CSS Toggle switch*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
